.red1 {
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    text-underline-position: below;
    color: black;
    text-decoration-line: underline;
}

.black1 {
    text-decoration-line: underline;

    


}

.red221 {
    text-decoration-line: underline;

}
.bluepara{
    text-decoration: underline;
}